@import "src/assets/scss/abstracts/_variables";

.wrapper {
  padding: 5rem 0;
  background-color: $background-1;

  @include responsive("sm") {
    padding: 0;
  }
}

.main {
  width: 100%;
  height: 100%;
  background-color: $background-1;
  padding: 5rem 0 5rem 11.2rem;
  background-image: url("../../assets/images/picture1.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: right; /* Center the background image */

  @include responsive("xxL") {
    padding: 5rem 0 5rem 10.5rem;
  }

  @include responsive("xl") {
    padding: 5rem 0 5rem 9.5rem;
  }

  @include responsive("laptop") {
    padding: 5rem 0 5rem 8rem;
  }

  @include responsive("md") {
    padding: 5rem 0 5rem 7rem;
  }

  @include responsive("sm") {
    padding: 5rem 1rem;
    background-image: none;
    justify-content: center;
  }
}

.container {
  @include responsive("sm") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  color: $background-2;
  font-family: $font-pt;
  font-size: 4.8rem;
  margin-bottom: 2.5rem;

  @include responsive("laptop") {
    font-size: 4.6rem;
  }

  @include responsive("sm") {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  @include responsive("xs") {
    font-size: 3.8rem;
  }

  @include responsive("xlMb") {
    font-size: 3.4rem;
  }
}

.description {
  color: $background-2;
  font-family: $font-nunito;
  font-size: 2.1rem;
  max-width: 46.7rem;
  margin-bottom: 2.5rem;

  @include responsive("laptop") {
    font-size: 2rem;
  }

  @include responsive("sm") {
    font-size: 2.1rem;
    max-width: 70rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  @include responsive("xs") {
    max-width: 55rem;
    font-size: 1.9rem;
  }

  @include responsive("xlMb") {
    max-width: 37rem;
    font-size: 1.7rem;
  }
}

.descriptionBot {
  color: $color2;
  font-family: $font-vietnam;
  font-size: 1.8rem;
  max-width: 46.7rem;
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 600;

  @include responsive("laptop") {
    font-size: 1.7rem;
  }

  @include responsive("sm") {
    padding: 0 1rem;
    font-size: 1.3rem;
  }

  @include responsive("xlMb") {
    max-width: 35rem;
    text-align: center;
  }
}

.logoImage {
  width: 47.8rem;
  height: 34.4rem;
}
