//FONT
$font-roboto: "Roboto", sans-serif;
$font-pt: "PT Serif", serif;
$font-vietnam: "Be Vietnam Pro", sans-serif;
$font-nunito: "Nunito Sans", sans-serif;

//COLORS
$background-1: rgb(190, 155, 128);
$background-2: rgb(244, 237, 218);
$background-3: rgb(82, 82, 82);

$color1: rgb(243, 236, 216);
$color2: rgb(47, 60, 76);
$color3: rgb(184, 157, 132);
$color4: #525252;
$color5: rgb(185,158,132);
$colorWhite: rgb(255, 255, 255);
$gold: #ffb000;
$btnColor: rgb(85,85,89);
