@import "src/assets/scss/abstracts/_variables";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $background-3;
  padding: 7rem 0;

  @include responsive("laptop") {
    padding: 6rem 2rem;
  }

  @include responsive("sm") {
    padding: 6rem 2rem;
  }
}

.container {
  width: 100%;
  max-width: 85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive("xs") {
    flex-direction: column;
    gap: 4rem;
  }
}

.title {
  font-family: $font-pt;
  font-size: 4.8rem;
  letter-spacing: -0.1rem;
  color: $color3;
  line-height: 1.25em;
  margin-right: 1rem;

  @include responsive("laptop") {
    font-size: 4.6rem;
  }

  @include responsive("sm") {
    text-align: center;
    font-size: 3.8rem;
  }

  @include responsive("xlMb") {
    font-size: 3.2rem;
  }
}

.startBtn {
  font-family: $font-nunito;
  display: inline-block;
  padding: 1.8rem 4rem;
  border: none;
  border-radius: 3rem;
  color: $color1;
  background-color: $background-1;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;

  @include responsive("xxL") {
    font-size: 1.5rem;
  }

  @include responsive("xl") {
    font-size: 1.4rem;
  }

  @include responsive("laptop") {
    font-size: 1.3rem;
  }
}

.startBtn:hover {
  color: $color1;
  background-color: $color2;
}
