@import "src/assets/scss/abstracts/_variables";

.main {
  width: 100%;
  min-height: 12rem;
  font-family: $font-roboto;
  background-color: $background-1;
  position: sticky;
  top: 0;
  z-index: 1000;

  .container {
    display: flex;
    align-items: center;

    .logoContainer {
      margin: 1.8rem 0;
      margin-left: 11.2rem;
    }

    .navContainer {
      margin-left: auto;
      a {
        color: $color1;
        font-size: 1.8rem;
        margin-right: 3rem;
        font-family: $font-nunito;
        text-decoration: none;
        font-weight: 700;
      }

      a:hover {
        color: $color2;
      }
    }

    .startBtn {
      font-family: $font-nunito;
      margin-right: 8rem;
      display: inline-block;
      padding: 1.3rem 2rem;
      border: none;
      border-radius: 3rem;
      color: $colorWhite;
      background-color: $color2;
      font-size: 1.8rem;
      font-weight: 700;
      cursor: pointer;
    }

    .startBtn:hover {
      color: $background-1;
      background-color: $background-2;
    }
  }
}
