@import "src/assets/scss/abstracts/_variables";

.main {
  width: 100%;
  height: 100%;
  background-color: $background-1;
  color: $background-2;
  font-family: $font-nunito;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;

  @include responsive("laptop") {
    padding: 5rem 2rem;
  }

  @include responsive("sm") {
    padding: 4rem 0;
  }

  @include responsive("xs") {
    padding: 3rem 0;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10rem;

  @include responsive("laptop") {
    gap: 8rem;
  }

  @include responsive("sm") {
    gap: 6rem;
  }

  @include responsive("xs") {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.sectionOne {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.logoImage {
  @include responsive("sm") {
    height: 10rem;
    width: 20rem;
  }
}

.sectionTwo {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
}

.sectionThree {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: flex-end;
}

.contact {
  @include responsive("xs") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.buttonsContainer a {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
  display: block;
  cursor: pointer;

  @include responsive("laptop") {
    font-size: 1.6rem;
  }
}

.buttonsContainer a:hover {
  color: $color2;
}

.textTitle {
  font-family: $font-pt;
  font-size: 2.5rem;

  @include responsive("laptop") {
    font-size: 2.3rem;
  }
}

.text {
  font-size: 1.8rem;
  @include responsive("laptop") {
    font-size: 1.6rem;
  }
}

.footer {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  text-align: center;
  font-size: 1.4rem;

  @include responsive("laptop") {
    font-size: 1.3rem;
  }
}
